<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <form action="/survey" method="post">
        <input type="text" name="txtName">
        <table>
            <select name="job" id="">
                <option value="Pro">Program</option>
                <option value="Tea">Teacher</option>
            </select>
            <button type="submit" value="ClickMe">Click me</button>
        </table>
    </form>
    <br>
    <a href="/about">Go about page</a>
</body>
</html>