<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATN - Get toys for free</title>
    <link rel="stylesheet" href="home.css">
    <script>
        function toggleNotifyPopup(){
            if(document.getElementById("popup-0").classList.toggle("active") == false){
                document.getElementById("popup-0").classList.toggle("active");
            }
        }
        function toggleLogPopup(){
            document.getElementById("popup-1").classList.toggle("active");
        }
        function toggleResPopup(){
            document.getElementById("popup-2").classList.toggle("active");
        }
    </script>
</head>
<body>
    <div class="container">
            <div class="header" >
                <img src="https://idme-marketplace.s3.amazonaws.com/WbWW8s5z5MpKoHZ7cGusWzgz" class="logo" alt="logo" width="170px" height="170px">
                
                <button type="button" onclick="toggleNotifyPopup(),toggleLogPopup()">
                    login
                </button>    
            </div>
            {{!-- notify --}}
            <div class="notify" id="popup-0">
                <div class="nt">
                    <div class="content">  
                        <img src="{{icon}}" alt="" width="50px" height="50px" style="float: left;">
                        {{!-- https://pic.onlinewebfonts.com/svg/img_281023.png --}}
                        <div class="text">
                            <span>
                                {{notify1}}
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="wait" style="margin: 0 auto;">
                        <span style="color: mediumorchid; font-size: 15px;">
                            {{notify2}}
                        </span>
                    </div>
                </div>
            </div>
            <!--Login-->
            <div class="login" id="popup-1">
                <form action="/login" method="post">
                <div class="data">   
                        <p class="textlogin" style="font-size: 35px; margin-left: 125px; color: darkviolet;">Login now</p>
                        <p class="textlogin">Username:</p>
                        <input type="text" name="username" required>
                        <p class="textlogin">Password:</p>
                        <input type="password" name="password" required><br>
                        <button type="submit" style="background-color: cyan; width: 60%; margin-left: 20%; margin-top: 20px;">Login</button>
                </form> 
                        <br>
                        <p class="textlogin">Don't have an account?  <span style="text-decoration: underline; color: darkturquoise;"  onclick="toggleLogPopup();toggleResPopup()"> Register now!</span></p> 
                        
                             <button style="background-color: dimgrey; margin-bottom:  5px; margin-left:  75%;" onclick="toggleLogPopup()">
                                &times;
                                Cancel
                            </button>
                </div>
            </div>
            <!--Register-->
            <div class="register" id="popup-2">
                <form action="/register" method="post">
                <div class="data">   
                        <p class="textlogin" style="font-size: 35px; margin-left: 125px; color: darkviolet;">Register now</p>
                        <p class="textlogin">Username:</p>
                        <input type="text" name="username" required>
                        <p class="textlogin">Password:</p>
                        <input type="password" name="password" required><br>
                        <button type="submit" value="Register" style="background-color: cyan; width: 60%; margin-left: 20%; margin-top: 20px;">Register</button>
                </form> 
                        <br>
                        <p class="textlogin">Have an account? <span style="text-decoration: underline; color: darkturquoise;"  onclick="toggleLogPopup();toggleResPopup()"> Login now!</span></p> 
                        
                            <div class="close-button">
                            <button style="background-color: dimgrey; margin-bottom:  5px; margin-left:  75%;" onclick="toggleLogPopup();toggleResPopup()">
                                &times;
                               Cancel
                            </button>
                            </div>
                </div>
                
            </div>
    </div>
</body>
</html>