<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATN - Get toys for free</title>
    <style>
        *{
            box-sizing: border-box;
            border: crimson;
        }
        .container{
        margin: 0 auto;
        width: 80%;
        height: 100vh;
        background-image: url(https://www.mural-wallpaper.com/wp-content/uploads/2020/11/UN-DIS179.jpg);
        background-size: cover;
        position: relative;
        overflow: hidden;

        }
        .header{
            width: 60px;
            color: cadetblue;
        }
        .logo{
            width: 200px;
            cursor: pointer;
        }
        .header{
            width: 90%;
            height: 15%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        button{
            color: #fbfcfd;
            padding: 10px 25px;
            background: transparent;
            border: 1px solid #fff;
            border-radius: 25px;
            outline: none;
            cursor: pointer;
        }

        .login{
            background-color: rgb(255, 255, 255);
            width: 25%;
            height: 60%;
            margin-left: 1350px;
            display: none;
        }

        .login.active {
            display: block;
        }

        .register{
            background-color: rgb(255, 255, 255);
            width: 25%;
            height: 60%;
            margin-left: 1350px;
            display: none;
        }
        .register.active {
            display: block;
        }
      
        .data{  
            padding-top: 50px;      
            margin: 25px 30px 0px 30px;
        }
        .data input{
            height: 40px;
            width: 100%;
            padding-left: 10px;
            font-size: 17px;
            border: 1px solid darkorchid;
        }
        .textlogin{
            font: 1em sans-serif;
            font-size: 20px;
        }
    </style>
    <script>
        function toggleLogPopup(){
            document.getElementById("popup-1").classList.toggle("active");
        }
        function toggleResPopup(){
            document.getElementById("popup-2").classList.toggle("active");
        }
    </script>
</head>
<body>
    <div class="container">
            <div class="header" > 
                <img src="https://idme-marketplace.s3.amazonaws.com/WbWW8s5z5MpKoHZ7cGusWzgz" class="logo" alt="logo" width="170px" height="170px">
                
                <button type="button" onclick="toggleLogPopup()">
                    login
                </button>    
            </div>
            <!--Login-->
            <div class="login" id="popup-1">
                <form action="/login" method="post">
                <div class="data">   
                        <p class="textlogin" style="font-size: 35px; margin-left: 125px; color: darkviolet;">Login now</p>
                        <p class="textlogin">Username:</p>
                        <input type="text" name="username" required>
                        <p class="textlogin">Password:</p>
                        <input type="password" name="password" required><br>
                        <button type="submit" style="background-color: cyan; width: 60%; margin-left: 20%; margin-top: 20px;">Login</button>
                </form> 
                        <br>
                        <p class="textlogin">Don't have an account?  <span style="text-decoration: underline; color: darkturquoise;"  onclick="toggleLogPopup();toggleResPopup()"> Register now!</span></p> 
                        
                             <button style="background-color: dimgrey; margin-bottom:  5px; margin-left:  75%;" onclick="toggleLogPopup()">
                                &times;
                                Cancel
                            </button>
                </div>
            </div>
            <!--Register-->
            <div class="register" id="popup-2">
                <form action="/register" method="post">
                <div class="data">   
                        <p class="textlogin" style="font-size: 35px; margin-left: 125px; color: darkviolet;">Register now</p>
                        <p class="textlogin">Username:</p>
                        <input type="text" name="username" required>
                        <p class="textlogin">Password:</p>
                        <input type="password" name="password" required><br>
                        <button type="submit" value="Register" style="background-color: cyan; width: 60%; margin-left: 20%; margin-top: 20px;">Register</button>
                </form> 
                        <br>
                        <p class="textlogin">Have an account? <span style="text-decoration: underline; color: darkturquoise;"  onclick="toggleLogPopup();toggleResPopup()"> Login now!</span></p> 
                        
                             <button style="background-color: dimgrey; margin-bottom:  5px; margin-left:  75%;" onclick="toggleLogPopup();toggleResPopup()">
                                &times;
                               Cancel
                            </button>
                            <div class="close-button"></div>
                </div>
                
            </div>
    </div>
</body>
</html>